In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/SNEHALDD/Youtube_Video_Analysis/Kevin2/Database/ready_for_sql/video_data_fixed_length.csv")
df

,channel_id,video_id,video_title_clean,published,video_length,video_comment_count,video_likes,video_views,new_length
0,UCbCmjCuTUZos6Inko4u57UQ,lmH5uqwaFq8,Airplane Song CoComelon Nursery Rhymes Kids Songs,2022-11-01 07:00:15+00:00,2:59,0,19653,3425275,179.0
1,UCbCmjCuTUZos6Inko4u57UQ,0SY0Yn0yF9o,Wheels On The Bus More Nursery Rhymes Kids Son...,2022-10-29 07:00:00+00:00,29:52:00,0,15076,2882582,1792.0
2,UCbCmjCuTUZos6Inko4u57UQ,sNyF7BvVfxs,Bingos Bath Song CoComelon Nursery Rhymes Kids...,2022-10-25 07:00:16+00:00,2:49,0,47763,8673081,169.0
3,UCbCmjCuTUZos6Inko4u57UQ,K4kqqCzF-BA,Play Outside at the Beach Song More Nursery Rh...,2022-10-22 07:00:12+00:00,1:01:21,0,57936,11744611,3681.0
4,UCbCmjCuTUZos6Inko4u57UQ,gfZmvllWVwY,Halloween Song Dance Dance Party CoComelon Nur...,2022-10-18 07:00:19+00:00,2:39,0,46041,8775011,159.0
...,...,...,...,...,...,...,...,...,...
8599,UCC7jlYxfWti7WAW8r7ef1RQ,xRi8SGcRDOY,In Paris use the Navigo pass like locals and s...,2022-03-28 15:00:24+00:00,9,0,4,311,9.0
8600,UCC7jlYxfWti7WAW8r7ef1RQ,C-34pIsWZPk,How to save money in Paris by using the Paris ...,2022-03-27 15:00:04+00:00,4:49,79,166,4642,289.0
8601,UCC7jlYxfWti7WAW8r7ef1RQ,L2GdB1gB1ZM,Magical Malta should 100 be on your bucket lis...,2022-03-26 15:00:09+00:00,16,7,133,5091,16.0
8602,UCC7jlYxfWti7WAW8r7ef1RQ,89IewFGQQ6E,Is France on your bucket list shorts france tr...,2022-03-25 18:00:03+00:00,16,0,1,31,16.0
8603,UCC7jlYxfWti7WAW8r7ef1RQ,QS32cM-BQ6M,Subscribe for more travel tips and inspiration...,2022-03-24 15:00:11+00:00,11,0,2,76,11.0

In [3]:
df.dtypes

channel_id              object
video_id                object
video_title_clean       object
published               object
video_length            object
video_comment_count      int64
video_likes              int64
video_views              int64
new_length             float64
dtype: object

In [4]:
#drop all columns except video id and new length
df=df.drop(columns=['channel_id','video_title_clean','published','video_length','video_comment_count','video_likes','video_views'])
df

         video_id  new_length
0     lmH5uqwaFq8       179.0
1     0SY0Yn0yF9o      1792.0
2     sNyF7BvVfxs       169.0
3     K4kqqCzF-BA      3681.0
4     gfZmvllWVwY       159.0
...           ...         ...
8599  xRi8SGcRDOY         9.0
8600  C-34pIsWZPk       289.0
8601  L2GdB1gB1ZM        16.0
8602  89IewFGQQ6E        16.0
8603  QS32cM-BQ6M        11.0

[8604 rows x 2 columns]

In [5]:
#save csv and join on sql
df.to_csv("ready_for_sql/video_length.csv",index=False)

In [6]:
df2=pd.read_csv("https://raw.githubusercontent.com/SNEHALDD/Youtube_Video_Analysis/Kevin2/Database/ready_for_sql/video_data_fixed_length.csv")
df2

,channel_id,video_id,video_title_clean,published,video_length,video_comment_count,video_likes,video_views,new_length
0,UCbCmjCuTUZos6Inko4u57UQ,lmH5uqwaFq8,Airplane Song CoComelon Nursery Rhymes Kids Songs,2022-11-01 07:00:15+00:00,2:59,0,19653,3425275,179.0
1,UCbCmjCuTUZos6Inko4u57UQ,0SY0Yn0yF9o,Wheels On The Bus More Nursery Rhymes Kids Son...,2022-10-29 07:00:00+00:00,29:52:00,0,15076,2882582,1792.0
2,UCbCmjCuTUZos6Inko4u57UQ,sNyF7BvVfxs,Bingos Bath Song CoComelon Nursery Rhymes Kids...,2022-10-25 07:00:16+00:00,2:49,0,47763,8673081,169.0
3,UCbCmjCuTUZos6Inko4u57UQ,K4kqqCzF-BA,Play Outside at the Beach Song More Nursery Rh...,2022-10-22 07:00:12+00:00,1:01:21,0,57936,11744611,3681.0
4,UCbCmjCuTUZos6Inko4u57UQ,gfZmvllWVwY,Halloween Song Dance Dance Party CoComelon Nur...,2022-10-18 07:00:19+00:00,2:39,0,46041,8775011,159.0
...,...,...,...,...,...,...,...,...,...
8599,UCC7jlYxfWti7WAW8r7ef1RQ,xRi8SGcRDOY,In Paris use the Navigo pass like locals and s...,2022-03-28 15:00:24+00:00,9,0,4,311,9.0
8600,UCC7jlYxfWti7WAW8r7ef1RQ,C-34pIsWZPk,How to save money in Paris by using the Paris ...,2022-03-27 15:00:04+00:00,4:49,79,166,4642,289.0
8601,UCC7jlYxfWti7WAW8r7ef1RQ,L2GdB1gB1ZM,Magical Malta should 100 be on your bucket lis...,2022-03-26 15:00:09+00:00,16,7,133,5091,16.0
8602,UCC7jlYxfWti7WAW8r7ef1RQ,89IewFGQQ6E,Is France on your bucket list shorts france tr...,2022-03-25 18:00:03+00:00,16,0,1,31,16.0
8603,UCC7jlYxfWti7WAW8r7ef1RQ,QS32cM-BQ6M,Subscribe for more travel tips and inspiration...,2022-03-24 15:00:11+00:00,11,0,2,76,11.0

In [8]:
#drop all columns except video id and new length
df2=df2.drop(columns=['channel_id','video_title_clean','published','video_comment_count','video_likes','video_views'])
df2

         video_id video_length  new_length
0     lmH5uqwaFq8         2:59       179.0
1     0SY0Yn0yF9o     29:52:00      1792.0
2     sNyF7BvVfxs         2:49       169.0
3     K4kqqCzF-BA      1:01:21      3681.0
4     gfZmvllWVwY         2:39       159.0
...           ...          ...         ...
8599  xRi8SGcRDOY            9         9.0
8600  C-34pIsWZPk         4:49       289.0
8601  L2GdB1gB1ZM           16        16.0
8602  89IewFGQQ6E           16        16.0
8603  QS32cM-BQ6M           11        11.0

[8604 rows x 3 columns]

In [9]:
df2.to_csv("ready_for_sql/video_length_with_sec.csv", index=False)

In [10]:
file=pd.read_csv("ready_for_sql/video_length_with_sec.csv")
file.dtypes

video_id         object
video_length     object
new_length      float64
dtype: object